<h2 {% if site.style == 'dark' %}class="text-white"{% endif %}>My #365 days photo challenge</h2>
<p class="f4 mb-4 {% if site.style == 'dark' %}text-white{% else %}text-gray{% endif %}"><a href="https://www.instagram.com/murbo_/" alt="My 365 photo challenge">#365photochallenge</a> - Taking a photo everyday for a year, follow along!</p>
<div class="d-flex flex-wrap gutter-condensed mb-4">
  <!-- SnapWidget -->
  <script src="https://snapwidget.com/js/snapwidget.js"></script>
  <iframe src="https://snapwidget.com/embed/{{ site.snapwidget }}" class="snapwidget-widget" allowtransparency="true" frameborder="0" scrolling="no" style="border:none; overflow:hidden;  width:100%; "></iframe>
</div>
